<#assign name="企业降本"/>
<#assign controller="CostReduce"/>
<#include 'layout/layout.html'/>
<#macro subCss>
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/service.css?${jsVersion}" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
			<div class="modeDescription lcustom">
		        <div class="modeName">企业降本</div>
		        <p>响应供给侧改革，利用生意家在银行网络和贸易金融结构设计方面的能力优势，帮助企业客户降低财务成本；利用生意家在产业链整合方面的能力优势，帮助企业客户降低采购成本。</p>
		        <p>报价模式：<b>直接价格模式、分成模式。</b></p>
		        <p>服务对象：<b>需要强化成本管控的规模企业。</b></p>
		    </div>
		    <div class="ui-nodata" style="display: none;" id="nodata">当前没有项目</div>
		</div>
		
	</div>

</#macro>
