<#assign name="财报优化"/>
<#assign controller="ProOptimization"/>
<#include 'layout/layout.html'/>
<#macro subCss>
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/service.css?${jsVersion}" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
			<div class="modeDescription lcustom">
		        <div class="modeName">财报优化</div>
		        <p>优化企业财务报表，让报表真正反映实际经营情况，生意家综合运用贸易金融等手段，将无关企业经营能力的杂质清理，释放经营空间，创造额外利润。</p>
		        <p>报价模式：<b>方案制、分成模式。</b></p>
		        <p>服务对象：<b>销售量大、结构复杂的规模企业。</b></p>
		    </div>
		    <div class="ui-nodata" style="display: none;" id="nodata">当前没有项目</div>
		</div>
		
	</div>

</#macro>
