<#assign name="优先劣后模式"/>
<#assign controller="ProPriorityBad"/>
<#include 'layout/layout.html'/>
<#macro subCss>
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/service.css?${jsVersion}" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
			<div class="modeDescription lstandard">
		        <div class="modeName">优先劣后模式</div>
		        <p>服务产业链，用于优化产业链条中的交易环节，不输出信用，基于无风险交易为前提。运营模式借鉴了传统基金的方式，分优先、劣后，劣后资金承担主要风险，同时享有大头收益。生意家的运营基于无风险，但最终的收益率存在不确定性，我们设置优先、劣后，劣后资金的作用在于保障优先资金的确定性收益，并享有余下所有收益的权力。</p>
		    </div>
		    <div class="ui-nodata" style="display: none;" id="nodata">当前没有项目</div>
		</div>
		
	</div>

</#macro>
