<#assign name="优先劣后模式详情"/>
<#assign controller="ProPriorityBadDetail"/>
<#include 'layout/layout.html'/>
<#macro subCss>
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/service.css?${jsVersion}" />
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/detail.css?${jsVersion}" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
			<p class="business-enter">标准服务&nbsp;&nbsp;>&nbsp;&nbsp;<span class="orange" id="crumbs"></span></p>
		</div>
		
	</div>

</#macro>
