<#assign name="项目众筹详情"/>
<#assign controller="ProProjectRaiseDetail"/>
<#include 'layout/layout.html'/>
<#macro subCss>
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/service.css?${jsVersion}" />
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/detail.css?${jsVersion}" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
			<p class="business-enter">生意家众筹&nbsp;&nbsp;>&nbsp;&nbsp;<span class="orange" id="crumbs">项目详情</span></p>
			<div class="chipsDetail">
    	<div class="detailTitleSeven">
        	多头宝15919期
        </div>
        <div class="chipsInfoWrap">
        	<div class="chipsImg">
            	<img src="${staticUrl}/images/services/chipsProduct.png"/>
            </div>
            <div class="chipsCompanyWrap">
            	<div class="chipsCompany">
                	<p>
                    	公司名称：亚汇金融投资公司<br/>
                        公司性质：	中外合资所属行业：金融/投资/证券<br/> 
                        工作描述：	负责公司团队的人员安排和调动，协调公司
                    </p>
                    <a class="appointment">立即约见</a>
                    <div class="companyInfo">
                    	<img src="${staticUrl}/images/services/photo.png"/><br/>
                        发起人：张三
                    </div>
                </div>
                <div class="eqMoney">
                    <div class="fr">总金额：<font>20000</font> 万元</div>
                    <div class="fl">剩余可投：<font>2000</font> 万元</div>
                </div>
                <div class="eqProcesswrap">
                    <div class="eqProcess">
                        <div style="width:200px;" class="eqProcessLine"></div>
                    </div>
                    <div class="eqProcessRate">72.3%</div>
                </div>
                <div class="eqLastTime">募集截止日：<font>2016-01-08</font></div>
            </div>
            <div class="clb"></div>
        </div>
        <div class="modelLogo">
        	<img src="${staticUrl}/images/services/state-5.png">
        </div>
    </div>
    <div class="chipsDetailIntroduceWrap">
    	<div class="chipsDetailIntroduce" style="height:900px;*height:860px;">
            <div class="detailAndDescribeTitle">
                <span class="active">项目详细</span><span>发起者评论</span>
            </div>
            <div class="licai">
            	<img src="${staticUrl}/images/detail/autoGetMoney.png" width="522" height="215"/>
            </div>
            <p>
            	1、融资项目介绍：<br/>
                垫资赎楼业务，已核实个人及企业征信，无不良记录；已办理房产抵押合同签约、<br/>
                委托公证、收回房产证等证件原件。已办理还款账户和放款账户监管手续。<br/>
                2、收益说明：<br/>
                融资金额78万，年化收益25%，融资期限7天。
            </p>
            <p class="mt30">
            	申购说明： 投资金额须是1的整数倍，并且投资起步金额必须大于或者等于100元。<br/>
                当融资项目的融资余额小于100元时，则可以申购任意金额。项目融资完毕。【此标<br/>
                限未在平台成功投资过的新用户参与。每名新用户限享有一次"新手专享标"投资<br/>
                机会，"新手专享标"限手动投标。每人限投48000元】
            </p>
            <p>
            	1、融资项目介绍：<br/>
                垫资赎楼业务，已核实个人及企业征信，无不良记录；已办理房产抵押合同签约、<br/>
                委托公证、收回房产证等证件原件。已办理还款账户和放款账户监管手续。<br/>
                2、收益说明：<br/>
                融资金额78万，年化收益25%，融资期限7天。
            </p>
        </div>
        
        <div class="targetDetailWrap">
        	<div class="targetDetail">
            	<div class="leader">
                	领头人
                </div>
                <div class="chipsLeaderDetail">
                	<div class="leaderDetail">
                        <div class="theLeader">领头人：</div>
                        <div class="leaderName">王叉叉</div>
                        <div class="clb"></div>
                    </div>
                	<div class="oneDetail">
                        <div class="oneDetailName">公司名称：</div>
                        <p>亚汇金融投资公司</p>
                        <div class="clb"></div>
                    </div>
                    <div class="oneDetail">
                        <div class="oneDetailName">公司性质：</div>
                        <p>中外合资所属行业：金融/投资/证券</p>
                        <div class="clb"></div>
                    </div>
                    <div class="oneDetail">
                        <div class="oneDetailName">工作描述：</div>
                        <p class="jobDescription">负责公司团队的人员安排和调动，协调公司的运行，及
                             公司的人事管理，招聘及人员培训，讲解公司各方面的
                             业务，..
						</p>
                        <div class="clb"></div>
                    </div>
                </div>
                <div class="eqMoney">
                    <div class="fr">已支持：<font>1000</font> 人</div>
                    <div class="fl">剩余：<font>50</font> 人</div>
                </div>
                <div class="chipsProcesswrap">
                    <div class="chipsProcess">
                        <div class="chipsProcessLine" style="width:100px;"></div>
                    </div>
                    <div class="chipsProcessRate">72.3%</div>
                </div>
                <a class="btn406-orange mt10">立即支持</a>
            </div>
            
            <div class="targetDetail mt20">
            	<div class="leader">
                	领头人
                </div>
                <div class="chipsLeaderDetail">
                	<div class="leaderDetail">
                        <div class="theLeader">领头人：</div>
                        <div class="leaderName">王叉叉</div>
                        <div class="clb"></div>
                    </div>
                	<div class="oneDetail">
                        <div class="oneDetailName">公司名称：</div>
                        <p>亚汇金融投资公司</p>
                        <div class="clb"></div>
                    </div>
                    <div class="oneDetail">
                        <div class="oneDetailName">公司性质：</div>
                        <p>中外合资所属行业：金融/投资/证券</p>
                        <div class="clb"></div>
                    </div>
                    <div class="oneDetail">
                        <div class="oneDetailName">工作描述：</div>
                        <p class="jobDescription">负责公司团队的人员安排和调动，协调公司的运行，及
                             公司的人事管理，招聘及人员培训，讲解公司各方面的
                             业务，..
						</p>
                        <div class="clb"></div>
                    </div>
                </div>
                <div class="eqMoney">
                    <div class="fr">已支持：<font>1000</font> 人</div>
                    <div class="fl">剩余：<font>50</font> 人</div>
                </div>
                <div class="chipsProcesswrap">
                    <div class="chipsProcess">
                        <div class="chipsProcessLine" style="width:100px;"></div>
                    </div>
                    <div class="chipsProcessRate">72.3%</div>
                </div>
                <a class="btn406-orange mt10">立即支持</a>
            </div>
            
        </div>
        
        <div class="clb"></div>
    </div>
    
    <div class="warning"><b>风险提示：</b>风险大家分开拉家带口疗法积分卡拉萨的借口啦</div>
	</div>
		</div>
		

</#macro>
