<#assign name="等分模式"/>
<#assign controller="ProUniform"/>
<#include 'layout/layout.html'/>
<#macro subCss>
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/service.css?${jsVersion}" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
			<div class="modeDescription lstandard">
		        <div class="modeName">等分模式</div>
		        <p>服务产业链，用于优化产业链条中的交易环节，不输出信用，基于无风险交易为前提。收益分成方式按每一份投资资金在扣除生意家的管理费用后，享有同等收益率。</p>
		    </div>
		    <div class="ui-nodata" style="display: none;" id="nodata">当前没有项目</div>
		</div>
		
	</div>

</#macro>
