<#assign name="登录"/>
<#assign type="2"/>
<#assign controller="Signin"/>
<#include 'layout/layout.html'/>
<#macro content>
    <div class="con-login-bg stretch bg-img-stretch" style="height: 600px\9;background-image:url(${staticUrl}/images/login_bg.png)">
        <div class="container">
            <div class="contents content table">
                <div class="con-login clearfix grid-1000 center" style="height:450px">


                    <div class="cm-right">
                        <div class="login-wrapper">
                            <form id="loginform" class="login-modern">
                                <h2 class="ui-form-title " style="text-align:center;color:#009fd4;">会员登录</h2>
                                <div class="login-form-wrapper">
                                    <div id="login_error" class="sl-error sl-error-display"></div>
                                    <div class="ui-form-item">
                                        <label for="username" class="ui-label">
                                            <i class="fa fa-lg">&#xf007;</i>
                                        </label>
                                        <input id="username" autocomplete="on" type="text"
                                               class="ui-input ui-input-normal"
                                               placeholder="手机号" />
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="password" class="ui-label">
                                            <i class="fa fa-lg">&#xf023;</i>
                                        </label>
                                        <input id="password" type="password"
                                               class="ui-input ui-input-normal"
                                               placeholder="密码" />
                                    </div>
                                    <div id="captchactn" class="am-mt-10"></div>
                                    <div class="clear"></div>
                                    <div class="am-mt-10 am-mb-10">
                                        <input type="button" value="登 录" class="ui-button-login"
                                               id="login_button" />
                                        <div data-dojo-attach-point="loadingNode" class="ui-button-loading-extra" style="display: none;">
                                            <img src="${staticUrl}/images/loading.gif">
                                        </div>
                                    </div>
                                </div>
                                <p class="ui-form-other">
                                    <a href="${basePath}/user/signup.htm">免费注册</a>
                                    <a class="textlink" style="float: right;" href="${basePath}/user/pwdloss.htm">忘记登录密码？</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</#macro>
