<#assign name="项目跟踪"/>
<#assign controller="MySubject"/>
<#include 'layout/layout.html'/>
<#macro subCss>
    <link rel="stylesheet" type="text/css" href="${staticUrl}/css/implementation.css?${jsVersion}" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
		<div class="implementation">
			<div class="implementationChoice" id="tab-ctn">
				<a data-type="0" >待确认</a>
	        	<a data-type="1" >已认购</a>
	        	<a data-type="5">认购失败单</a>
	            <a data-type="2">执行中</a>
	            <a data-type="4">已完成</a>
	        </div>
	        <div class="tabcontent" data-type="0">
	        	<div class="ui-nodata" style="display: none;">暂无更多记录</div>
	        </div>
	        <div class="tabcontent" data-type="1">
	        	<div class="ui-nodata" style="display: none;">暂无更多记录</div>
	        </div>
	        <div class="tabcontent" data-type="2">
	        	<div class="ui-nodata" style="display: none;">暂无更多记录</div>
	        </div>
	        <div class="tabcontent" data-type="4">
	        	<div class="ui-nodata" style="display: none;">暂无更多记录</div>
	        </div>
	        <div class="tabcontent" data-type="5">
	        	<div class="ui-nodata" style="display: none;">暂无更多记录</div>
	        </div>
		</div>
		</div>
	</div>
</#macro>
