<#assign title="产品列表页"/>
<#assign controller="MallList"/>
<#include 'layout/layout.html'/>
<#macro content>
	<div class="mall_list_header">
		<div id="headDetail" class="detail">
			<!-- <a><img src="${staticUrl}/images/login.png"/><div><span>型号</span></div></a>
			<a><img src="${staticUrl}/images/login.png"/><div><span>型号</span><br><span>广告语</span></div></a>
			<a><img src="${staticUrl}/images/login.png"/><div><span>型号</span><br><span>广告语</span></div></a> -->
		</div>
	</div>
	<div class="container" id="container">
		<div id="mall_list_body" class="mall_list_body">
			<i class='loading-icon'></i>
			<!-- <ul>
				<li>
					<div class="img-detail"><a><img src="${staticUrl}/images/tips03.png"/></a></div>
					<div class="inblock">
						<div class="detail">苛求细节，诠释品质</div>
						<div><a>进一步了解></a><a>购买></a></div>
					</div>
				</li>
				<li>
					<div class="img-detail"><a><img src="${staticUrl}/images/tips03.png"/></a></div>
					<div class="inblock">
						<div class="detail">苛求细节，诠释品质</div>
						<div><a>进一步了解></a><a>购买></a></div>
					</div>
				</li>
				<li>
					<div class="img-detail"><a><img src="${staticUrl}/images/tips03.png"/></a></div>
					<div class="inblock">
						<div class="detail">苛求细节，诠释品质</div>
						<div><a>进一步了解></a><a>购买></a></div>
					</div>
				</li>
				<li>
					<div class="img-detail"><a><img src="${staticUrl}/images/tips03.png"/></a></div>
					<div class="inblock">
						<div class="detail">苛求细节，诠释品质</div>
						<div><a>进一步了解></a><a>购买></a></div>
					</div>
				</li>
				<li>
					<div class="img-detail"><a><img src="${staticUrl}/images/2014101100000205.jpg"/></a></div>
					<div class="inblock">
						<div class="detail">苛求细节，诠释品质</div>
						<div><a>进一步了解></a><a>购买></a></div>
					</div>
				</li>
				<li>
					<div class="img-detail"><a><img src="${staticUrl}/images/2014101100000205.jpg"/></a></div>
					<div class="inblock">
						<div class="detail">苛求细节，诠释品质</div>
						<div><a>进一步了解></a><a>购买></a></div>
					</div>
				</li>
			</ul> -->
		</div>
	</div>
</#macro>