<#assign title="产品详情页"/>
<#assign controller="MallDetail"/>
<#include 'layout/layout.html'/>
<#macro content>
	<div class="mall_detail_header">
		<div id="head_detail" class="head_detail">
			<!-- <span>胶囊咖啡机ID:LZP-5000</span>
			<div>
				<a>技术支持</a>
				<a class="abtn">购买</a>
			</div> -->
		</div>
	</div>
	<div class="container" id="container">
	
		<div id="mall_detail_body" class="mall_detail_body">
			<i class='loading-icon'></i>
			<!-- <div class="ad">ID:LZP-5000<br/>苛刻细节，诠释品质。</div>
			<ul class="img_ul">
				<li>
					<div class="img_div"><img src="${staticUrl}/images/login-img01.jpg"/></div>
					<div class="img_intro">胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。</div>
				</li>
				<li>
					<div class="img_div"><img src="${staticUrl}/images/login-img01.jpg"/></div>
					<div class="img_intro">胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。</div>
				</li>
				<li>
					<div class="img_div"><img src="${staticUrl}/images/login-img01.jpg"/></div>
					<div class="img_intro">胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。</div>
				</li>
				<li>
					<div class="img_div"><img src="${staticUrl}/images/login-img01.jpg"/></div>
					<div class="img_intro">胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。</div>
				</li>
				<li>
					<div class="img_div"><img src="${staticUrl}/images/login-img01.jpg"/></div>
					<div class="img_intro">胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。胶囊咖啡机，让你的生活精彩。</div>
				</li>
			</ul> -->
		</div>
	</div>
</#macro>