<div class="mod-head">
    <div class="div1050">
        <div class="logo_img">
        	<a href="${basePath}/home/index.htm"><img src="${staticUrl}/images/logo.png"/></a>
        </div>
		<div class="category">
			<ul id="headProdUl" class="headul">
				<a href="${basePath}/detail/mall_list.htm?type=1"><li>胶囊咖啡机</li></a>
				<a href="${basePath}/detail/mall_list.htm?type=3"><li>饮水机</li></a>
				<a><li>服务支持</li></a>
			</ul>
		</div>
		<div class="bag_img"></div>
        <!-- <div class="logo"><a id="logo-a" href="${basePath}/user/home.htm"><img src="${staticUrl}/images/pic/logo.png"></a>|&nbsp;企业服务平台</div> -->
    </div>
</div>